RAG Agent.json
{
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GZO8C01F_H_yqnya6Bgb2EVWC8hEVSaS",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GZO8C01F_H_yqnya6Bgb2EVWC8hEVSaS"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "93c19168-3b70-4013-a8c8-4a4a2006e472",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0a08840d-81fd-44ee-a6db-26fee384c3ff",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DgtWYgi4inSfkaBI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "raggemini",
          "mode": "list",
          "cachedResultName": "raggemini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "d2532b63-7706-4215-8ab2-b5903f91a7ea",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        176
      ],
      "id": "d1d37a6a-cb02-4d00-81b5-898d342f205b",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        208
      ],
      "id": "0621e3b6-6dfe-4b1b-b6d2-82aab5465aa1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        336
      ],
      "id": "47913ebf-eae8-42f8-abf1-def374afedb4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Cargar informacion a la DB vectorial\nLoad information into vectorial DB",
        "height": 672,
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -176
      ],
      "typeVersion": 1,
      "id": "df756316-3150-4e2d-b169-27c17673818b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1168,
        16
      ],
      "id": "7cb55c69-c1c0-4e2f-9d42-8ed43b741021",
      "name": "When chat message received",
      "webhookId": "452a665b-fb02-4051-b4e0-8d1b59c821c4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres un asistente personal. Tu funcion es identificar que es lo que quiere buscar el usuario referente a cosméticos en Pinecone Vector Store. Responde de forma concreta, sólo referente a la información que consultas en pinecone. En tu respuesta, Siempre coloca como referencia la fuente de datos del documento."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1280,
        16
      ],
      "id": "5ddb062e-c578-4df4-8621-aa3b792283ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        224
      ],
      "id": "b86ba640-6ce5-4f6d-9705-76a5e93b36d0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tSZ8VZDtQLEjbdgE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Consulta mi biblioteca especializada",
        "pineconeIndex": {
          "__rl": true,
          "value": "raggemini",
          "mode": "list",
          "cachedResultName": "raggemini"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1408,
        256
      ],
      "id": "11ec2bb3-82fb-4fe0-a324-eaca8d8fb6d4",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "1EhPhPw7BvqFrTVw",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1504,
        464
      ],
      "id": "6ebc3dc5-d709-40d1-baba-83a72a8962b5",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "tSZ8VZDtQLEjbdgE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1296,
        224
      ],
      "id": "cb9de0db-c0f6-47e0-adc0-6fea40a49abf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "## Consultar DB\nSearch DB",
        "height": 752,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        -160
      ],
      "typeVersion": 1,
      "id": "d6e3023e-20fa-4bce-9ede-37fb832ccbda",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5744aba1-94f3-437f-8fad-57b7b54a8be2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f17c6827804cc7a43f9cbeaa7fde58dad69d6614b2856c1e91512e7606415d4"
  },
  "id": "o9VZ9uUxSn2ppAFe",
  "tags": []
}